<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        if (global === undefined) {
          var global = window;
        }
      </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/views/assets/index.css">
    <link  rel="stylesheet" href="./src/views/assets/reset.css">
    <title>Blockchain</title>
</head>
<body> 
    <header>
        <h1>BLOCKCHAIN</h1>
    </header>
    
    <main class="main-wrapper">
        <div class="form-div">
            <form action="">
                <label for="fdata">Data:</label><br>
                <input type="text" id="fdata" name="fdata"><br>

                <label for="fdifficulty">Difficulty:</label><br>
                <input type="number" id="fdifficulty" name="fdifficulty"><br>
                
                <button type="button" id="new-block-button">New Block</form>
            </form>
        </div>

        <div id="blocks-div">
        </div>
        
    </main>

    <footer>
    </footer>
    <script  src="../scripts/index.js"></script>
</body>
</html>